bin/Debug/net6.0/OpenOBJ-CSharp.dll
bin/Debug/net6.0/OpenOBJ-CSharp.pdb
obj/Debug/net6.0/OpenOBJ-CSharp.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/OpenOBJ-CSharp.dll
obj/Debug/net6.0/OpenOBJ-CSharp.pdb
obj/Debug/net6.0/ref/OpenOBJ-CSharp.dll
obj/Debug/net6.0/refint/OpenOBJ-CSharp.dll
